.cartContainer{
    display: flex;
    gap: 20px;
    padding: 15px;
    align-items: center;
}

.cartProductImage{
    width: 300px;
}

.cartProductTitle{
    font-size: 30px;
}

.cartProductPrice{
    font-size: 30px;
}

.incrementButton,
.decrementButton {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;
}

.quantityField{
    font-size: 20px;
}

.noItemsInCartMessage{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}