.footer {
  background-color: #333;
  padding: 15px;
  color: #fff;
  margin-bottom: -20px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__section {
  flex: 1;
}

.footer__section p {
  margin: 3px 0;
  font-size: 20px;
}

.footer__social-links {
  display: flex;
  gap: 10px;
}

.footer__social-links a {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.footer__social-links a:hover {
  color: #ff5722;
}

.social-links-container {
  display: flex;
  gap: 5px;
}

.Contact-Us,
.Follow-Us {
  font-size: 20px;
  font-weight: bold;
  margin: 3px 0;
}

.Follow-Us {
  margin-bottom: 25px;
}

.container {
  margin-left: 10px;
}


@media (max-width: 768px) {
  .footer {
    padding: 10px; 
  }

  .footer__section p {
    font-size: 14px; 
  }

  .footer__section{
   margin-left: 30px;
  } 

  .Contact-Us,
  .Follow-Us {
    font-size: 18px; 
  }

  .social-links-container {
    gap: 5px; /* Reduced gap for social links container on mobile view */
  }
}
