
.checkoutContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .checkoutItemsContainer {
    margin-top: 20px;
  }
  
  .checkoutItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .itemImageContainer {
    flex: 0 0 100px;
    margin-right: 20px;
  }
  
  .itemImage {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .itemDetails {
    flex: 1;
  }
  
  .itemTitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .itemPrice {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .itemQuantity {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .totalPriceContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .totalPriceContainer strong {
    color: #428bca;
  }
  
 .whiteSpaceDiv{
  margin-bottom: 490px;
 }

 .completeOrderButton{
  background-color: rgb(24, 181, 24);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
 }

 .completeOrderButton:hover {
  background-color: green;
}

.checkout-title{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}