.sidebar-container {
    width: 200px;
    background-color:lightskyblue;
    padding: 1rem;
  }
  
  .sidebar-options {
    margin-top: 1rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    font-size: 24px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 20px;
  }
  
  input[type='radio'] {
    margin-right: 0.5rem;
    width: 15px; 
    height: 15px; 
  }